@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #020617; /* slate-950 */
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
